html,
body,
.my-wrapper {
  height: 100%;
}

.display-card {
  display: flex;
  flex-wrap: wrap;
}
.recipe {
  margin: auto;
  width: 30%;
  height: auto;
  margin-bottom: 15px;
  display: inline-block;
  flex-grow: 1;
}
