.App {
  text-align: center;
}

.search-button {
  margin-left: 5px;
}
.search-form {
  width: 70%;
}

.image-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 0 10px;
  grid-auto-rows: 10px;
}
